<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedMentions || !selectedMentions.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="mentions()" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','description']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [(selection)]="selectedMentions" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des Mentions</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="note_min">Note Min <p-sortIcon field="note_min"></p-sortIcon></th>
                        <th pSortableColumn="note_max">Note Max <p-sortIcon field="note_max"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mention>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="mention"></p-tableCheckbox>
                        </td>
                        <td>{{mention.id}}</td>
                        <td>{{mention.name}}</td>
                        <td>{{mention.note_min}}</td>
                        <td>{{mention.note_max}}</td>
                        <td>{{mention.description}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editMention(mention)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteMention(mention)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="mentionDialog" [style]="{width: '450px'}" header="Détails de la Mention" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nom</label>
                    <input type="text" pInputText id="name" [(ngModel)]="mention.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !mention.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !mention.name">Le nom est requis.</small>
                </div>
                <div class="field">
                    <label for="note_min">Note Minimum</label>
                    <p-inputNumber id="note_min" [(ngModel)]="mention.note_min" mode="decimal" [showButtons]="true" [min]="0" [max]="20"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="note_max">Note Maximum</label>
                    <p-inputNumber id="note_max" [(ngModel)]="mention.note_max" mode="decimal" [showButtons]="true" [min]="0" [max]="20"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="mention.description" rows="3" cols="20"></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveMention()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
